body {
    margin: 0;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    color: white;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-weight: bold;
    text-shadow: 0.4vw 0.4vw cadetblue;
    padding: 2vh;
    text-transform: uppercase;
    font-size: 3vw;
    mix-blend-mode: mul;
}

h1 {
    font-size: 13vw;
}

#Portfolio {
    z-index: 4;
    position: relative;
}

.Info{
    position: relative;
    padding: 10px;
    margin: 10px;
    max-height: 50vw;
}

.Info>div{
    position: absolute;
    bottom: 20%;
    max-width: 1000px;
    z-index: 2;
}

.Info>img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    z-index: 1;
    filter: grayscale(1);
    object-position: 100%;
    scale: 100%;
    animation:image-movement 3s linear infinite;
}

.Info:hover img{
    filter: grayscale(0);
}

@keyframes image-movement {
    0% { object-position: 0%  100%; width: 250px; height: 250px;}
    50% { object-position: 100%  0%; width: 300px; height: 300px;}
    100% {object-position: 0% 100%; width: 250px; height: 250px;}
}

.Info:nth-child(2n-1)>img{
    animation-delay: 1s;
}




div>h2:hover{
    text-shadow:0.4vw 0.4vw purple;
}

a {
    display: inline-block;
    width: 300px;
    height: 300px;
    color: inherit;
    text-decoration: none;
}