body {
    margin: 0;
    padding: 0px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color:white;
    color: black;
    font-weight: normal;
}

main{
    display: flex;
    flex-direction: row;
}
/* Canvas */
h1{ 
    font-weight: bold;
    font-size: 5rem;
    margin:1rem;
}
img{
    object-fit: contain;
    width: 100%;
}
p{
    font-size: 20px;
}

#ImageContent{
    z-index: 4;
    position: relative;
    float: right;
    display:flex ;
    flex-direction: column;
    overflow-y: scroll;
    width: 65%;
}
#TextZone{
    border: solid black;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ButtonContainer>button{
    border: 5px solid black;
    font-size: 16px;
    flex-grow: 1;
    margin:10px;
    padding:10px;
    box-shadow: 5px 5px;
}


#ButtonContainer>button:hover{
    box-shadow: 2px 2px;
    margin:13px 7px 7px 13px;
}

#ButtonContainer>button:active{
    box-shadow: none;
    margin:15px 5px 5px 15px;

}

#ButtonContainer{
    display: flex;
}


